<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>VideoChat - Enjoy videos with friends</title>
    </head>
    <body>
        <div>
            {% include 'home.html' %}

            <!-- TODO: Handle user registration and authentication here

            {% if user.is_authenticated %}

            {% else %}
                <ul>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Login</a></li>
                </ul>
            {% endif %}

            -->
        </div>
        <hr />
    </body>
</html>