{% extends 'base.html' %}
{% block title %}
Log in!
{% endblock %}
{% block body_block %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="heading text-center">
                    <h2>Log in</h2>
                </div>
                <p class="lead text-center">Share your videos with the world</p>
            </div>
        </div>
    </div>

    <div class="container">
    {% if next %}
      <form action="{% url 'login_view' %}?next={{ next }}" method="post" enctype="multipart/form-data">
    {% else %}
      <form action="{% url 'login_view' %}" method="post" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
            {% for field in form %}
                <h4>{{ field.label_tag }}</h4>
                <h4>{{ field }}</h4>
            {% endfor %}

            {% if errors %}
              <ul>
                {% for error in errors %}
                  <li>{{ error }}</li>
                {% endfor %}
              </ul>
            {% endif %}
        <input class="btn btn-lg btn-template-main" type="submit" value="Log in" />
      </form>
    </div>

<!-- Upload form. Note enctype attribute! -->

{% endblock %}

