{% extends 'outside_base.html' %}
{% block title %}
   Share your videos with the world
{% endblock %}
{% block body_block %}
    <div class="container">
        <div class="home-carousel">
                            <div class="dark-mask"></div>

            <div class="container">
                <div class="homepage owl-carousel">
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-5 right">
                                <h1>Enjoy videos with friends</h1>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-5">
                                <h2>Chat with <br> people who are watching the same video</h2>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-sm-5 right">
                                <h1>Meet great people, make friends</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.project owl-slider -->
            </div>
        </div>
    </div>

<!-- Upload form. Note enctype attribute! -->

{% endblock %}

