{% extends 'outside_base.html' %}
{% block title %}
 Sign up
{% endblock %}
{% block body_block %}
    <div class="container">
        <form action="{% url 'register_view' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {% for field in form %}
                    <h4>{{ field.label_tag }}</h4>
                    <h4>{{ field }}</h4>
                    {% if field.errors %}
                      <ul>
                        {% for error in field.errors %}
                          <li>{{ error }}</li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                {% endfor %}

            <button type="submit" class="btn btn-template-main"><i class="fa fa-user"></i> Sign up</button>
        </form>
    </div>

<!-- Upload form. Note enctype attribute! -->

{% endblock %}

