{% extends 'base.html' %}
{% block title %}
    Search results
{% endblock %}
{% load static %}
{% load videochat_extras %}
{% block body_block %}
    <script src="{% static "/js/search.js" %}"></script>

    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                {% if 'videochat.video' in form.models.value %}

                    <div class="heading text-center">
                        <h2>Search videos</h2>
                    </div>
                    <p class="lead text-center">Find great videos, have fun</p>

                {% else %}

                    <div class="heading text-center">
                        <h2>Search friends</h2>
                    </div>
                    <p class="lead text-center">Find people great people to share videos with</p>

                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        {% if query %}
            {% if 'videochat.video' in form.models.value %}

                {% with results=page.object_list|get_tuples:4 %}
                {% for tuple in results %}
                    <div class="col-md-12">
                        <div class="row">
                            {% for result in tuple %}
                                <div class="col-md-3 col-sm-6">
                                    <div class="box-image-text blog">
                                        <div class="top">
                                            <div class="image">
                                                <img src="{% static "/img/portfolio-4.jpg" %}" alt="" class="img-responsive">
                                            </div>

                                            <div class="bg"></div>

                                            <div class="text">
                                                <p class="buttons">
                                                    <a href="{% url 'videochat:play' result.object.pk %}" class="btn btn-template-transparent-primary"><i class="fa fa-play"></i> Play</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4><a href="#">{{ result.object.title }}</a></h4>

                                            <p class="author-category">By <a href="#">John Snow</a>
                                            </p>

                                            <p class="intro">{{ result.object.description }}</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
                {% endwith %}

            {% else %}
                {% load friendshiptags %}

                <script>
                function change(id) {
                    var elem = document.getElementById(id);
                    var elemClasses = elem.classList;

                    console.log(elem.innerHTML);
                    if (elem.innerHTML=="Add friend"){
                        add_friend(id);

                        elem.innerHTML = "Cancel request";
                        elemClasses.remove('btn-success');
                        elemClasses.add('btn-danger');
                    } else {
                        elem.innerHTML = "Add friend";
                        elemClasses.remove('btn-danger');
                        elemClasses.add('btn-success');
                    }
                    elem.blur();
                }
                function add_friend(pk){
                        console.log('Add friend AJAX');
                        $.ajax({
                            type: "POST",
                            url: "/vc/ajax/add/",
                            dataType: "json",
                            data: { "from_user": {{ user.pk }}, "to_user":pk },
                            success: function(data) {
                                alert(data.message);
                            }
                        });
                    }
                </script>

                {% with results=page.object_list|get_tuples:6 %}
                    {% for tuple in results %}
                        <div class="row">
                            {% for result in tuple %}
                                <div class="col-md-2 col-sm-3">
                                    <div class="team-member" data-animate="fadeInDown">
                                        <div class="image">
                                            <a href="#">
                                                <img src="{% static "img/person-1.jpg" %}" alt="" class="img-responsive img-circle">
                                            </a>
                                        </div>
                                        <h3><a href="#">{{ result.object.username }}</a></h3>   
                                        <button id="{{ result.object.pk }}" onclick="change({{ result.object.pk }})" type="button" class="btn btn-lg btn-success">Add friend</button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% empty %}
                        <p>No results found.</p>
                    {% endfor %}
                {% endwith %}


            {% endif %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}

        {% endif %}
    </div>
{% endblock %}