{% extends 'base.html' %}
{% block title %}
    Search results
{% endblock %}
{% load static %}
{% load videochat_extras %}
{% block body_block %}
    <div id="heading-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="heading text-center">
                    <h2>Search videos</h2>
                </div>
                <p class="lead text-center">Find great videos, have fun</p>
            </div>
        </div>
    </div>

    <div class="container">
        {% if query %}
            {% with results=page.object_list|get_tuples %}
                {% for tuple in results %}
                    <div class="col-md-12">
                        <div class="row">
                            {% for result in tuple %}
                                <div class="col-md-3 col-sm-6">
                                    <div class="box-image-text blog">
                                        <div class="top">
                                            <div class="image">
                                                <img src="{% static "/img/portfolio-4.jpg" %}" alt="" class="img-responsive">
                                            </div>

                                            <div class="bg"></div>

                                            <div class="text">
                                                <p class="buttons">
                                                    <a href="#" class="btn btn-template-transparent-primary"><i class="fa fa-play"></i> Play</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="content">
                                            <h4><a href="#">{{ result.object.title }}</a></h4>

                                            <p class="author-category">By <a href="#">John Snow</a>
                                            </p>

                                            <p class="intro">{{ result.object.description }}</p>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p>No results found.</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            {% endwith %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
        {% endif %}
    </div>
{% endblock %}