#search-outer-xs {
    margin-top: 13px;
    padding-left: 150px;
      z-index:1;

    padding-right: 80px;
}

#search-outer-sm {
    padding-right: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
      z-index:1;

}

#search-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    width: 45%;
  z-index:1;
}

#search-input {
    margin: 0;
    flex: 1;
}

#search-submit {
    margin: 0;
}

#search-form {
    display: flex;
    flex-grow: 1
}

.button-group {
    text-align: center;
    height: 33px;
    display: flex;
    float: left;
}

.button-group-xs {
    text-align: center;
    height: 34px;
    display: flex;
    float: left;
}