{% extends 'base.html' %}

{% block title %}Friendship Requests{% endblock %}

{% block body_block %}
    <script>
    function handle_request(request_accepted, pk, username) {

        var accept_button = document.getElementById(pk); // pk is accept button's id
        var reject_button = document.getElementById(username); // username is reject button's id

        var acceptClasses = accept_button.classList;
        var rejectClasses = reject_button.classList;

        handle_request_ajax(request_accepted, pk);

        if (request_accepted) {
            accept_button.innerHTML = "Accepted";
            acceptClasses.remove('btn-success');
            acceptClasses.add('btn-default');

            $(accept_button).prop('disabled', true);
            $(reject_button).hide();

            accept_button.blur();
        } else {
            reject_button.innerHTML = "Rejected";
            rejectClasses.remove('btn-danger');
            rejectClasses.add('btn-default');

            $(reject_button).prop('disabled', true);
            $(accept_button).hide();

            reject_button.blur();
        }
    }

    function handle_request_ajax(result, pk){
        console.log('Handle friend request');
        $.ajax({
            type: "POST",
            url: "/vc/ajax/handle_request/",
            dataType: "json",
            data: { "to_user":{{ user.pk }}, "from_user":pk, "result":result},
            success: function(data) {
                console.log(data.message);
            }
        });
    }

    </script>
    {% load static %}
    <div class="container">
        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="heading text-center">
                        <h2>Meet new people</h2>
                    </div>
                    <p class="lead text-center">See who wants to be your friend</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            {% for friend_request in friend_requests %}
                    <div class="col-md-8"><a href="{% url 'videochat:u' friend_request.from_user.pk %}">{{ friend_request.from_user.username }}</a></div>

                    <div class="col-md-3">
                        <button id="{{ friend_request.from_user.pk }}"
                                onclick="handle_request(true ,{{ friend_request.from_user.pk }}, '{{ friend_request.from_user.username }}')"
                                type="button" class="btn btn-lg btn-success">Accept
                        </button>
                        <button id="{{ friend_request.from_user.username }}"
                                onclick="handle_request(false ,{{ friend_request.from_user.pk }}, '{{ friend_request.from_user.username }}')"
                                type="button" class="btn btn-lg btn-danger">Reject
                        </button>
             {% empty %}
                <p>You don't have friend requests.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}