{% extends 'base.html' %}
{% load static %}

<link rel="stylesheet" href="{% static "player.css" %}">
<script src="{% static "player.js" %}"></script>

{% block title %}video.title{% endblock %}

{% block body_block %}
    <script>
        $(window).unload(function(){
            $.ajax({
                type: 'POST',
                url: "/vc/ajax/finish_watching/",
                async:false, // The browser waits for the request to finish.
                dataType: "json",
                data: {'user':{{ request.user.pk }}},
                success: function(data) {
                    alert(data.message);
                }
            });
        });

        function sendEvent(event_type) {
          if (event_type == 'pause') {
            $.ajax({
              type: 'POST',
              url: "/vc/ajax/handle_event_types/",
              dataType: "json",
              data: {'type': event_type},
              success: function(data) {
                alert(data.message);
              }
          }
        }
    </script>
    <div class="container text-center">
    <hr>
    {% load static %}
        <link href="{% static "/css/chat.css" %}" rel="stylesheet">
            <div class="row">
                <div class="col-md-8">
                    <section id="reproductor">
                        <video onpause="sendEvent('pause')" id="video" width="700" heigth="500" src ="{{ video.path.url }}" controls></video>
                        <nav>
                            <div id="bar">
                              <div id="progress"></div>
                            </div>
                        </nav>
                    </section>
                </div>
                <div class="col-md-4">
                    <div class="container-fluid">
                          <div class="panel panel-default">
                                <div class="panel-heading">Chat</div>
                                <!-- Reference: http://v4-alpha.getbootstrap.com/components/list-group/ -->
                                <ul class="list-group" id="output" style="text-align: left; max-height: 200px">
                                </ul>
                                <div class="panel-body">
                                <form id="chat">
                                    {% csrf_token %}
                                    <div class="input-group">
                                    <input type="text" class="form-control" id="chat-input" />
                                        <span style="padding-left: 1px" class="input-group-btn">
                                            <button type="submit" class="btn btn-template-main">Send</button>
                                        </span>
                                    </div>
                                </form>
                                <script>
                                videochat = {};
                                videochat.last_chat_message = {{ last_chat_message }};

                                $(function() {
                                    $("#chat").on('submit', function(e) {
                                      e.preventDefault();
                                      message = $("#chat-input").val();
                                      if (message != "") {
                                        $("#chat-input").val("");
                                        $.ajax({
                                          url: "/vc/newchatmessage/",
                                          method: "POST",
                                          data: {'message': message, 'videopk': {{ video.pk }}, 'chatroompk': {{ chatroom.pk }},
                                                 'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()}
                                        })
                                      }
                                    });

                                    function getMessages() {
                                      $.ajax({
                                        url: "/vc/getchatmessages/",
                                        method: "GET",
                                        data: {'chatroompk': {{ chatroom.pk }},
                                               'last_chat_message': videochat.last_chat_message}
                                      }).done(function(data) {
                                        response = JSON.parse(data);
                                        for (var i = 0; i < response.messages.length; i++ ) {
                                          $('#output').append(
                                            '<li class="list-group-item"><strong>' +
                                            response.messages[i]['author'] +
                                            ':</strong><span class="text">  ' +
                                            response.messages[i]['text'] + '</span></li>');
                                          $("#output").scrollTop($("#output").prop("scrollHeight"));
                                        }
                                        videochat.last_chat_message = response.last_chat_message;
                                      });

                                      setTimeout(getMessages, 1000);
                                    }

                                    getMessages();

                                  });
                                  </script>
                                  </div>
                            </div>
                      </div>
                  </div>
              </div>

      </div>
  {% endblock %}
